{extend name="public:frame"/}
{block name="subtitle"}{$Think.lang.user.sign.in}{/block}
{block name="head-extra"}
<style type="text/css">
</style>
{/block}
{block name="main-content"}
<div class="container-fixed-sm position-absolute top-50 start-50 translate-middle px-3">
    <div class="card shadow">
        <div class="card-header text-silence">{$welcome|raw}</div>
        <div class="card-body">
            <div class="row">
                <label for="txt-username"
                       class="col-sm-3 col-form-label text-sm-end">{$Think.lang.user.username}</label>
                <div class="col-sm-9">
                    <input id="txt-username" type="text" class="form-control">
                    <div id="div-usernameInvalidFeedback" class="invalid-feedback"></div>
                </div>
            </div>
            <div class="row mt-3">
                <label for="txt-password"
                       class="col-sm-3 col-form-label text-sm-end">{$Think.lang.user.password}</label>
                <div class="col-sm-9">
                    <input id="txt-password" type="password" class="form-control">
                    <div id="div-passwordInvalidFeedback" class="invalid-feedback"></div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-2 offset-sm-3">
                    <button id="btn-signIn" class="btn btn-secondary text-nowrap"><span
                            class="spinner-border spinner-border-sm me-2 d-none" role="status"
                            aria-hidden="true"></span>{$Think.lang.user.sign.in}
                    </button>
                </div>
                <div class="col-sm-7 d-flex justify-content-end align-items-end pb-1 initialism">
                    <a href="/User/find" class="text-silence text-decoration-none">{$Think.lang.user.username.find}</a>
                    <a href="/User/resetApply" class="text-silence text-decoration-none ms-2">{$Think.lang.user.password.reset}</a>
                </div>
            </div>
            {:token_meta()}
        </div>
    </div>
</div>
{/block}
{block name="modal"}
{/block}
{block name="js"}
<script src="__JS__/jsencrypt.min.js"></script>
<script type="text/javascript">
    $(function () {
        let encrypt = new JSEncrypt();

        /* $.get('/static/rsa_1024_pub.pem', function (data, status) { // get默认异步请求
            encrypt.setPublicKey(data);
        }); */

        $.ajax({
            type: 'get',
            url: '/static/rsa_1024_pub.pem',
            async: false,
            success: function (data) {
                if (typeof data === 'string' && data.length === 272) {
                    encrypt.setPublicKey(data);
                } else {
                    easyToast(TOAST_ERROR, '{$Think.lang.error.system}');
                }
            },
            error: function () {
                easyToast(TOAST_ERROR, '{$Think.lang.error.system}');
            }
        });

        function checkUsername() {
            let username = $('#txt-username').val();

            if (username.length > 0) {
                if ($.testUsername(username)) {
                    // 原始类型的数据会转换成数值类型再进行比较，下文的'{$Think.config.app.username_min_length}'字符串类型属于原始类型，在比较时会转为数值型
                    if (username.length >= '{$Think.config.app.username_min_length}' && username.length <= '{$Think.config.app.username_max_length}') {
                        $('#div-usernameInvalidFeedback').empty();
                        $('#txt-username').removeClass('is-invalid').addClass('is-valid');

                        return true;
                    } else {
                        $('#div-usernameInvalidFeedback').text('{$Think.lang.user.username.length.error}');
                        $('#txt-username').removeClass('is-valid').addClass('is-invalid');
                    }
                } else {
                    $('#div-usernameInvalidFeedback').text('{$Think.lang.user.username.format.error}');
                    $('#txt-username').removeClass('is-valid').addClass('is-invalid');
                }
            } else {
                $('#div-usernameInvalidFeedback').text('{$Think.lang.user.username.required}');
                $('#txt-username').removeClass('is-valid').addClass('is-invalid');
            }

            return false;
        }

        function checkPassword() {
            let password = $('#txt-password').val();

            if (password.length > 0) {
                if (password.length >= '{$Think.config.app.password_min_length}' && password.length <= '{$Think.config.app.password_max_length}') {
                    $('#div-passwordInvalidFeedback').empty();
                    $('#txt-password').removeClass('is-invalid').addClass('is-valid');

                    return true;
                } else {
                    $('#div-passwordInvalidFeedback').text('{$Think.lang.user.password.length.error}');
                    $('#txt-password').removeClass('is-valid').addClass('is-invalid');
                }
            } else {
                $('#div-passwordInvalidFeedback').text('{$Think.lang.user.password.required}');
                $('#txt-password').removeClass('is-valid').addClass('is-invalid');
            }

            return false;
        }

        function checkInput() {
            if (checkUsername() && checkPassword()) {
                //$('#btn-signIn').removeAttr('disabled'); // 无法解决浏览器自动填充监听问题（且自动填充在JS执行结束后），唯一方案是建立一个新进程间隔一定时间检测，不完美
                return true;
            } else {
                //$('#btn-signIn').attr('disabled', true);
                return false;
            }
        }

        $('#txt-username').bind('input propertychange', function () {
            checkInput();
        });

        $('#txt-password').bind('input propertychange', function () {
            checkInput();
        });

        $('#txt-username').keydown(function (e) {
            if (e.keyCode == 13) {
                $('#btn-signIn').click();
            }
        });

        $('#txt-password').keydown(function (e) {
            if (e.keyCode == 13) {
                $('#btn-signIn').click();
            }
        });

        $('#btn-signIn').click(function () {
            if (checkInput()) {
                $.ajax({
                    type: 'post',
                    url: '/User/verifyUser',
                    timeout: AJAX_TIME_OUT,
                    async: true,
                    headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    },
                    data: {
                        username: $('#txt-username').val(),
                        password: encrypt.encrypt($('#txt-password').val())
                    },
                    dataType: 'json',
                    beforeSend: function () {
                        $('#btn-signIn').attr('disabled', true).find('[role="status"]').removeClass('d-none');
                    },
                    success: function (jsonData) {
                        if (jsonData === undefined) {
                            return toastAjaxResult();
                        }
                        if (jsonData.__token__ !== undefined) {
                            $('meta[name="csrf-token"]').attr('content', jsonData.__token__);
                        }

                        let result = jsonData.result;
                        if (result === DONE) { // 验证通过
                            if (Cookies.get('urlPrev') !== undefined && Cookies.get('urlPrev') !== Cookies.get('urlNow')) {
                                return location.href = Cookies.get('urlPrev');
                            } else {
                                return location.href = '/';
                            }
                        } else if (result === FAILED) { // 验证未通过
                            switch (jsonData.err.code) {
                                case PASSWORD_MISMATCH:
                                    $('#div-passwordInvalidFeedback').text(jsonData.err.msg);
                                    $('#txt-password').removeClass('is-valid').addClass('is-invalid');
                                    break;
                            }
                        } else if (result === INPUT_ERROR) { // 校验错误
                            switch (jsonData.err.code) {
                                case USERNAME_REQUIRE:
                                case USERNAME_LENGTH:
                                case USERNAME_FORMAT:
                                    $('#div-usernameInvalidFeedback').text(jsonData.err.msg);
                                    $('#txt-username').removeClass('is-valid').addClass('is-invalid');
                                    break;
                                case PASSWORD_REQUIRE:
                                case PASSWORD_LENGTH:
                                case PASSWORD_FORMAT:
                                    $('#div-passwordInvalidFeedback').text(jsonData.err.msg);
                                    $('#txt-password').removeClass('is-valid').addClass('is-invalid');
                                    break;
                            }
                        } else {
                            toastAjaxResult(result, getErrorMessage(jsonData));
                        }
                    },
                    error: function () {
                        toastAjaxResult();
                    },
                    complete: function () {
                        $('#btn-signIn').removeAttr('disabled').find('[role="status"]').addClass('d-none');
                    }
                });
            }
        });
    });
</script>
{/block}
